#!/usr/bin/make -f

SIG_DIR := debian/signatures/shim-unsigned

%:
	dh $@

override_dh_auto_install:
	set -e ; \
	find "$(SIG_DIR)" -name '*.sig' -printf '%P\n' | \
	while read sig; do \
		install -m 0755 -d "debian/tmp/$${sig%/*}" ; \
		install -m 0644 "/$${sig%.sig}" "debian/tmp/$${sig}ned" ; \
		sbattach --attach "$(SIG_DIR)/$$sig" "debian/tmp/$${sig}ned" ; \
	done

override_dh_install:
	dh_install --sourcedir=debian/tmp .
